
<style>
.order-tracking {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.tracking-steps {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.tracking-steps .step {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: relative;
  font-weight: bold;
  color: #ccc;
}

.tracking-steps .step.active {
  color: #4caf50;
}

.tracking-steps .step::before {
  content: '';
  width: 100%;
  height: 4px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.tracking-steps .step.active::before {
  background: #4caf50;
}
</style>
{{> userHeader}}

<div class="container mt-3 mt-md-5" style="background-color: rgb(255, 240, 252);">
  <h2 class="text-charcoal hidden-sm-down">My Orders</h2>
  {{!-- <h5 class="text-charcoal hidden-md-up">Your Orders</h5> --}}
  {{#if noOrder}}
  <div>
    <h1> Order Something</h1>
  </div>
  {{else}}
    {{#each orders}}
   
    <div class="row">
        <div class="col-12">
        <div class="list-group mb-5">
            <div class="list-group-item p-3 bg-snow" style="position: relative;">
            <div class="row w-100 no-gutters">
                <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Order Number</h6>
                <a
                    href=""
                    class="text-pebble mb-0 w-100 mb-2 mb-md-0"
                >{{this.orderid}}</a>
                <img src="img/productImages/{{this.image.[0]}}">
                <a href="img/productImages/{{this.image.[0]}}">img/productImages/{{this.products.[0].image.[0]}}</a>
                </div>
                <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Date</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{this.orderedDate}}</p>
                </div>
                <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Total</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">₹{{this.totalPrice}}</p>
                </div>
                <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Order Status</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{this.status}}</p>
                </div>
                <div class="order-tracking"></div>
  <ul class="tracking-steps">
    <li class="step {{#if (eq order.status 'Placed')}}active{{/if}}">Placed</li>
    <li class="step {{#if (eq order.status 'Packed')}}active{{/if}}">Packed</li>
    <li class="step {{#if (eq order.status 'Out for Delivery')}}active{{/if}}">Out for Delivery</li>
    <li class="step {{#if (eq order.status 'Delivered')}}active{{/if}}">Delivered</li>
  </ul>
</div>
                <div class="col-12 col-md-3">
                <a href="/orders/{{this._id}}" class="btn btn-primary w-100">View Order</a>
                </div>
            </div>

            </div>
            
        </div>
        </div>

    
        
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="p-3 hidden-md-up"></div>
