
{{>userHeader}}


<section class="product spad">
    <div class="container">
       
        <div class="row property__gallery">
           {{#if items}}
            {{#each items}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/productImages/{{this.product_id.image.[0]}}">
                      
                        <ul class="product__hover">
                            <li><a href="img/productImages/{{this.product_id.image.[0]}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                             <li><a href="/deleteWishlistProduct/{{this.product_id._id}}"><span class="fas fa-trash"></span></a></li> 
                             
                            <li><a href="/addProductToCart/{{this.product_id._id}}"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/">{{this.product_id.name}}</a></h6>
                        <div class="rating">
                            {{this.product_id.category}}
                        </div>
                        <div class="product__price">₹{{this.product_id.price}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
         <h1>Wishlist is empty</h1>
         <div class="route-box__g pt-5">

              <a class="route-box__link" href="/products"><i
                  class="fas fa-long-arrow-alt-left"
                ></i>

                <span>CONTINUE SHOPPING</span></a></div>
         {{/if}}
           
        </div>
    </div>
</section>